# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (NEVER commit secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Stitch MCP artifacts
.superpowers/
D3KgRAz17m5P7rF3K1Buq/
fwzfWX0cHbALoGKluWaWV/
rJVhgwRB6FMEbLgltoQ6D/
1z7MmXBiUu-u-rqiqYZ0Y/
7b6h2Gc4XNBInwEp7my4h/
8WlDl0Q8uIy6omyhvDtML/
9D-VXhI3Mv_dOWutvBztM/
9Kn9iJPuFm9lihFnm0Hxp/
G9-a-2EvcB-K_l9hmkXRM/
IRd5OeIm-vhvjF9-J4Qmo/
K4HW3Nck9veAYnolWqZTU/
K_mihcKYjFZeLa65MjsJq/
KvD3sym0EFqfJu3afmegP/
LrF3mg_gqgb5C7HcV3PFx/
MVGI5coWW0iP0qLDfFy9c/
NOYXe9kAiCUuqI2vTSHIv/
Q8MP_JmDt4NCgLweXLy1I/
Y753uKllkD18jQ4AG-nBW/
ZUtAE4HKnVNcZlOO7BLBb/
bqGXEZUojOFHpnYLmOiII/
sfJPLymKoX6Pb9YAt2gp6/
wVk00S9lLh8yrWCVMegis/

# Playwright
test-results/
tests/e2e/scratch/
